*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.primary-color{
    color: #FD6E0A;
}

/* HEADER AND NAVIGATION STYLES */
.header{
    background-color: antiquewhite;
    padding-top: 60px;
    background-image: url('../assets/images/header_bg.png'),url('../assets/images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, left 3% center;
    
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    font-size: 20px;

}
nav ul{
    display: flex;
align-items: center;
}
nav ul li{margin-left: 50px;
list-style: none;

}

.primary-btn{
    /* Width:150px;
    Height:64px; */
    background-color: #FD6E0A;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    padding: 18px 36px;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: black;
    
}
.text-primary{
    color: #FD6E0A;
}
 /* BANNER STYLES  */
 .banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
 }
 .banner-subtitle{
    font-size: 45px;
    font-weight: 600px;
 }
 .banner-title{
    font-size: 85px;
    margin-bottom: 20px;
    font-weight: 700;
 }
 .banner-description,.about-description{
    color: #757575;
    margin-bottom: 30px;
    font-size: 18px;
 }
 .banner-contact-btn{
    margin-left: 30px;
    color: #FD6E0A;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
 }
 /* Main section style  */
 main{
    max-width: 1140px;
    margin: 0 auto;
 }
 /* ABOUT SECTION STYLE  */
 .about{
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
 }
 .section-title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
 }
 table{
    font-size: 20px;
    font-weight: 400;
    width: 100%;
 }
 tr{
    color: #757575;
 }
 tbody tr{
    color: black;
    font-weight: 700;
 }

/* What i do section styles  */
.what-i-do{
    margin-top: 130px;
    text-align: center;
}
.what-i-do-title{
    
}

.skill-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}
.skill{
    padding: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-right: 24px;
}
.skill-container :nth-child(4){
    margin-right: 0;
}